<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="en">
<head>
    <title>Jukbox Owner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/search.css">
    <link rel="stylesheet" type="text/css" href="../css/searchBar.css">
    <link rel="stylesheet" type="text/css" href="../css/userpage.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src= "../js/spotifyUtil.js"></script>
    <script src= "../js/simplifySong.js"></script>




</head>
<body>

    <!-- <h1 th:text="${roomPassword}"/> -->
    <button onclick="makePlaylist()">Create Playlist of </button>



</body>
</html>
