<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="en">
<head>
    <title>Jukbox Owner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../css/userpage.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src= "../js/spotifyUtil.js"></script>
    <script src= "../js/simplifySong.js"></script>




</head>
<body>

    <button onclick="makePlaylist()" id="Playlist">Create Playlist</button>

</body>
</html>
