<!DOCTYPE html>
<html lang="en">
<head>

    <title>Spotify</title>
    <link rel="stylesheet" type="text/css" href="../css/custom.css">

   <!-- Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/js/login.js"></script>
    <script src= "../static/js/spotifyUtil.js"></script>
    <script> testF() </script>

</head>
<body>

    <h1 style="font-size:50px">JukBox</h1>

    <Form class="one">
        <label>Your name:</label>
        <input type="text" name="fname"><br><br>
        <label>Room Name:</label>
        <input type="text" name="roomName">
        <input type="submit" value="Create Room">
    </Form>

    <Form class="two">
        <label>Name:</label>
        <input type="text" name="fname"><br><br>
        <label> Join Session:</label>
        <input type="text" name="memberPassword">
        <input type="submit" value="Join Room">
    </Form>


</body>
</html>