<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/custom.css">
    <title>index2</title>
</head>
<body>

    <div class="roomShow">
        <h1 style="font-size:50px">JukeBox Room View</h1>
        <label>Room:</label>
        <div class="roomVal">
            <p th:text="${ownerName}"/>
        </div>
        <label>Spotify Name:</label>
        <div class="roomVal">
            <p th:text="${ownerSname}"/>
        </div>
    </div>

</body>
</html>