<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/custom.css">
    <title>index2</title>
</head>
<body>

    <div class="roomShow">
        <h1 style="font-size:50px">JukeBox Room View</h1>
        <label>Room:</label>
        <div class="roomVal">
            <p th:text="${ownerName}"/>
        </div>
        <label>Spotify Name:</label>
        <div class="roomVal">
            <p th:text="${ownerSname}"/>
        </div>
    </div>

    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>

    function getUrlVars(){
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    console.log(getUrlVars());


    window.onSpotifyWebPlaybackSDKReady = () => {
      const token = 'BQCbURCsSAFTDX9uVbXjtzXVASOFg8a3apPRC-aIgXc1GQnC-GPOdK831bvrvXgOtWhoaB8KH2L9fPOnyBNU70y3GmSozeofLEhaF2m_ohwdrtIMTmd47zT5zwTeRLM5YwD-0Av3VZ-NEIDR4uBczM1iXNtSNlouJgk_';
      const player = new Spotify.Player({
        name: 'Jukbox',
        getOAuthToken: cb => { cb(token); }
      });

      // Error handling
      player.addListener('initialization_error', ({ message }) => { console.error(message); });
      player.addListener('authentication_error', ({ message }) => { console.error(message); });
      player.addListener('account_error', ({ message }) => { console.error(message); });
      player.addListener('playback_error', ({ message }) => { console.error(message); });

      // Playback status updates
      player.addListener('player_state_changed', state => { console.log(state); });

      // Ready
      player.addListener('ready', ({ device_id }) => {
        console.log('Ready with Device ID', device_id);
      });

      // Not Ready
      player.addListener('not_ready', ({ device_id }) => {
        console.log('Device ID has gone offline', device_id);
      });

      // Connect to the player!
      player.connect();
    };
  </script>

</body>
</html>