<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/searchBar.css">
    <script src= "../js/searchBarTest.js"></script>


</head>
<body>


<h1>&#x2728;Spotify Search Bar &#x2728;</h1>
<div class="wrap">
    <div id="searchWrapper" class="search">
        <input type="text" name="searchBar" id="searchBar" placeholder="search for track"/>
    </div>
</div>
<ul id="songList"></ul>
<script src="../js/searchBar.js"></script>

,<!--<script>songClick()</script>!-->


<!--<script>
    $(document).ready(function() {
        $("li.track").on('click',function(event) {
            alert(event.target.id);
        });
    });
</script>-->


</body>
</html>